@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-bg-dark: #0f172a; /* Dark mode background */
  --color-cta-dark: #2563eb; /* Primary CTA color */
  --color-accent-dark: #38bdf8; /* Secondary accent */
  --color-text-primary-dark: #f8fafc; /* Primary text on dark background (light gray) */
  --color-text-secondary-dark: #38bdf8; /* Optional secondary text or links on dark */

    /* Custom fonts */
    --font-primary: "Inter";
    --font-accent: "Poppins";

}
